<template>
  <div>
    <form @submit.prevent="submit">
     <input type="text" placeholder="Title" v-model="title" >
     <input type="text" placeholder="Description" v-model="description">
      <button type="submit">Create Post</button>
    </form>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  name: 'PostForm',
  data: () => ({
    title: '',
    description: ''
  }),
  methods: {
    ...mapMutations(['createPost']),
    reset () {
      this.title = this.description = ''
    },
    submit () {
      const newPost = {
        title: this.title,
        body: this.description,
        id: Date.now()
      }
      this.createPost(newPost)
      this.reset()
    }
  }
}
</script>
<style>
input{
  display: block;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 10px;
  margin: 10px auto;
}
</style>
